node_modules

.expo*

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

yarn.lock

*.config*

GoogleService-Info.plist

firebase.config.js

app.json
.eslintrc.json
.prettierrc.json

.vscode